.hidden{
    display: none;
}

body{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.6rem;
  color: rgba(241, 249, 255, 0.955);
  font-style: italic;
}

.containerAll {
  text-align: center;
}

textarea, input {
  outline: none;
  font-size: 2rem;
  font-style: italic;
}